/SOFT_V2/*.wed
/SOFT_V2/TAGS.txt
*.map
*.sm8
*.o
/HARD4/Project Outputs for FAT42V4/fat42.rar
/HARD_ISO/ISO (2).~PrjPCB
/SOFT_V2/123.dep
/SOFT_V2/Debug/123.lkf
/SOFT_V2/Release/123.lkf
/BPS1000.04_m168_pcbfromoleg/SOFT/*.cci
/BPS1000.04_m168_pcbfromoleg/SOFT/*.c~
/BPS1000.04_m168_pcbfromoleg/SOFT/*.hex
/BPS1000.04_m168_pcbfromoleg/SOFT/*.hci
/BPS1000.04_m168_pcbfromoleg/SOFT/*.h~
/BPS1000.04_m168_pcbfromoleg/SOFT/*.prj~
/BPS1000.04_m168_pcbfromoleg/SOFT/*.i
/BPS1000.04_m168_pcbfromoleg/SOFT/*.vec
/BPS1000.04_m168_pcbfromoleg/SOFT/*.aps
/BPS1000.04_m168_pcbfromoleg/SOFT/*.sym
/BPS1000.04_m168_pcbfromoleg/SOFT/*.cof
/BPS1000.04_m168_pcbfromoleg/SOFT/*.fct
/BPS1000.04_m168_pcbfromoleg/SOFT/BPS.cbi
/BPS1000.04_m168_pcbfromoleg/SOFT/*.cproj
/BPS1000.04_m168_pcbfromoleg/SOFT/*.rom
/BPS1000.04_m168_pcbfromoleg/SOFT/*.obj
/BPS1000.04_m168_pcbfromoleg/SOFT/*.lst
/BPS1000.04_m168_pcbfromoleg/SOFT/*.pr~
/BPS1000.04_m168_pcbfromoleg/SOFT/*.err
/BPS1000.04_m168_pcbfromoleg/SOFT/bps.eep
/BPS1000.04_m168_pcbfromoleg/SOFT/*.as2
/BPS1000.04_m168_pcbfromoleg/SOFT/*.a
/BPS1000.04_m168_pcbfromoleg/SOFT/*.inc
/BPS1000.04_m168_pcbfromoleg/SOFT/*.asm
